{% extends 'authentication/layout_1.html' %}
{% block title %}Login{% endblock %}
{% block content %}

	{% if check_login %}
			
	{% endif %}
	{% load static %}
		<form action = "{% url 'question:index' username  %}" method = 'post'>
    		{% csrf_token %}
    		
			{% if not check_login %}
			<p> ask something!</p>
			<input type="text" name="asker_" placeholder="Asker" required>
			<br />	
			<input type="text" name="content_" placeholder="Content of the question" required="">
			<br />
			<input type = "submit" value = "Ask" />
			{% endif %}
        </form>
        
		<section id="three" class="wrapper style1">
            <div class="container">
			{% if question_list %}
                <header class="major special">
				    <h2> Someone asked {{ username }} :3 </h2>
		        </header>
    			{% for q in question_list %}
        			<div class="feature-grid">
                        <div class="feature">
                                <div class="image rounded"><img src="{% static 'images/pic01.jpg' %}" alt="" />
                                </div>
                                <div class="content">
                                    <header>
        				                <h4>Question: {{ q.content }} </h4>
          				                <p>From: {{ q.name_asker }}</p>
                                    </header>
                    
                                    <p>Time: {{ q.asking_day }} </p>
            				        {% if not q.answer %}
            					       {% if check_login %}
            					           <input type="text" name="answer_" placeholder="Your answer">
            					           <input type="hidden" name="question_id" value="{{ q.id }}">
            					           <input type="submit" name="Answer">
            						
            					       {% endif%} <!-- if check_login-->
            				        {% else %}
            					       <p>  The answer: {{ q.answer }}</p>
            				        {% endif %} <!-- if answer-->
            	               </div>
                        </div>

        			</div>
    			{% endfor %}
    	
    		{% else %}
    			<header class="major special">
                    <p> {{ username }} don't have any question yet!</p>	
                </header>
    		{% endif %}
            </div>
		
        </section>
 {% endblock %}