<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.js' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
   <header>
 <div class="container" style="">
    <div class="row">
        
        <div class="col-md-6">

                <img src="{% static "images/AskFM.png" %}" alt="My image" width="45%" height="50%"/>
        </div>
        <div class="col-md-6" style="text-align: right; color: aliceblue   ">  
            <h4><i class="fa fa-search"></i> Search</h4>                     
            <form action="{% url 'asking:asking' username %}" method="POST" class="logout">
                {% csrf_token %} {% if check_login %}
                <input type="hidden" name="check_logout" id="check_logout" value="logout" />
                <input type="submit" value="Log out" /> {% endif %}
            </form> 
    
    </div>
   </div>
</div>
</header>

    
<nav>
        <ul class="nav" >
                <li> <a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li>
                    <a href="#">About</a>  
                </li>
            </ul>
</nav>
   <div class="main" >   
            <h1 class="font" ><i class="glyphicon glyphicon-user"></i> {{ first_name }} {{ last_name }}</h1>
        
               
                <p style="color: yellowgreen"><i class="glyphicon glyphicon-thumbs-up"></i> @{{ username }}</p>

                <form action="{% url 'asking:asking' username %}" method='post'>
                    {% csrf_token %} {% if not check_login %}
                    <label for="content" style="color: yellowgreen"><i class="glyphicon glyphicon-envelope"></i> Ask @{{ username }}: </label>
                    <input type="text" name="content" id="content" value="" />

                    <input type="submit" value="Send" /> {% endif %}
                </form>

                {% if question %} {% for q in question %}
                <ul id="boder-ask" style="color: snow">
                    <li>{{ q.content }}</li>
                    {% if not q.answer %} {% if check_login %}


                    <form action="{% url 'asking:asking' username %}" method='post'>
                        {% csrf_token %}
                        <input type="text" name="answer" id="answer" value="" />
                        <input type="hidden" name="question_id" id="question_id" value="{{ q.id }}" />
                        <input class="send" type="submit" value="Send" />
                    </form>
                    
                    {% else %}
                    <p>No answer</p>
                    {% endif %} {% else %}
                    <p> {{ q.answer }}</p>
                    {% endif %}
                    

                </ul>
                {% endfor %} {% endif %}
    </div>

{%block content%} {%endblock%}

</body>

</html>